<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

    <title>Titulo do projeto</title>
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Jadson Moreira"/>
    <meta name="reply-to" content="inforsis@gmail.com" />
    <meta name="document-class" content="Completed" />
    <meta name="document-classification" content="HomePage" />
    <meta name="document-rights" content="Public" />
    <meta name="document-rating" content="General" />
    <meta name="document-state" content="Dynamic" />
    <meta name="document-distribution" content="Global" />
    <meta name="cache-control" content="Public" />
    <meta name="language" content="pt-br">

	<link rel="shortcut icon" href="img/favicon.png" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr.js"></script>    
</head>
<body>
    <script src="js/bootstrap.bundle.min.js"></script>    
    <script src="js/main.js"></script>    
</body>
</html>