//variaveis
@import '../../../scss/main.scss';

pre {
	color: $primary-color2;
	&:after {
		content: 'favorite';
		font-family: 'Material Icons';
		color: blue;
		font-size: 24px; 
	}
}
body {
	height: 100%;
	width: 100%;
	background-image: url('../img/logo-webpack-icon.png');
	background-repeat: no-repeat;
}